## Mental Accounting
The Mental Accounting is measured (Barberis and Huang, 2001) by the following formulas:

$$K = \frac{P_0}{D_0} \quad \text{(4)}$$

Where:
- \(P_0\) is the price of the stock;
- \(D_0\) is the dividend paid on this day.

$$SMR = \text{Portfolio A} - \text{Portfolio B} \quad \text{(5)}$$

Where:
- **Portfolio A** represents the companies with low ratios;
- **Portfolio B** represents the companies with high ratios.

According to Barberis and Huang (2001), \(SMR\) corresponds to the difference between Portfolio A and Portfolio B. In other words, it is equal to the difference between the average returns of the companies’ portfolio with the highest ratio minus the average returns of the companies’ portfolio with the lowest ratio.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_excel("Dividend.xlsx")

In [4]:
len(df.columns)

200

In [5]:
#date_range = pd.date_range(start='2016-01-05', end='2023-12-29', freq='D')

In [6]:
df_price = pd.read_excel("Japan rate.xlsx", sheet_name = 'Price')

### Refine Data

The collected data does not cover all rows, missing data cause an obstacle in computations:

<img src="dividend.png" style="width:1000px;height:400px"/>

I have a table containing multiple pairs of columns, where each pair represents data for a stock, such as date and dividend. The number of rows may vary between pairs. I want to build a function that loops through each column pair, compares the values with a reference daily_df dataset, and finds the date in daily_df that is closest to the date in each column pair

In [2]:
# Create an empty dataframe "daily_df":
daily_df = pd.DataFrame(columns =["Date"])
daily_df["Date"] = df_price["Date"]
daily_df["Date"] = pd.to_datetime(daily_df['Date'], format='%d-thg %m-%Y')
daily_df=daily_df.sort_values("Date")

NameError: name 'pd' is not defined

In [8]:
df.columns[0::2]

Index(['KYOKUYO', 'NISSUI', 'MARUHA', 'SAKATA', 'HOKUTO', 'WEST', 'SHO',
       'MIRAIT', 'SUMISEKI', 'NITTETSU', 'INPEX', 'JAPAN PETRO', 'K&O',
       'HAZAMA', 'TOKYU', 'COMSYS', 'TAKAMATSU', 'TOKEN', 'SENSHU', 'OBAYASHI',
       'SHIMIZU', 'HASEKO', 'KAJIMA', 'FUDO', 'TEKKEN', 'NISHIMATSU',
       'SUMITOMO', 'DAIHO', 'OKUMURA', 'TOTETSU', 'ASANUMA', 'TODA',
       'KUMAGAI-GUMI', 'KOSHIDAKA', 'LINK & MOTIVATION', 'EZAKI GLICO',
       'FUJIZA', 'KAMEDA SEIKA', 'KOTOBUKI SPIRITS', 'CALBEE', 'ITOHAM',
       'DIGITAL ARTS', ' ICHIGO ', 'KAKAKU', 'DIP', 'DIGITAL HOLDINGS', 'M3',
       'DENA', 'HAKUHODO', 'GURUNAIVI', 'FAN COMUNICATIONS', 'DEMAE-CAN',
       'INFORMAT', 'ASAHI', 'KIRIN', 'COCA-COLA', 'TRUSCO', 'DYDO', 'ITO',
       'KEY COFFEE', 'FUJI OIL', 'J-OIL MILLS', 'CAWACHI', 'ABC-MART', 'ASKUL',
       'GEO HOLDINGS', 'ADASTRIA', 'ITOCHU', 'KURA SUSHI', 'ELEMATIC', 'EDION',
       'ARATA', 'HALOWS', 'JP-HOLDINGS', 'FUJIO FOOD', 'KOMEHYO', 'ALFRESA',
       'DAIKOKUTENBUSSAN', 'HONEYS', 'KIKKOMAN', 'AJINOMOTO CO',
       'KEWPIE Corporation', 'Fast Retailing', 'Gecoss Corp', 'Belc', 'Arcs',
       'Ministop', 'Ohsho  Food Svc', 'Inaba Denki Sangyo',
       'Miroku  Jyoho Service', 'YAMADA HOLDINGS', 'Nichiden Co',
       'Sagami Holdings', 'JBCC', 'Matsuya Foods Holdings', 'Yellow Hat',
       'INES', 'Kato Sangyo', 'Yoshinoya Holdings', 'Nitori Holdings'],
      dtype='object')

In [9]:
for company in df.columns[0::2]:
    daily_df[company] = np.nan

C:\Users\DELL\AppData\Local\Temp/ipykernel_17692/156544442.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_df[company] = np.nan

In [10]:
daily_df

,Date,KYOKUYO,NISSUI,MARUHA,SAKATA,HOKUTO,WEST,SHO,MIRAIT,SUMISEKI,...,YAMADA HOLDINGS,Nichiden Co,Sagami Holdings,JBCC,Matsuya Foods Holdings,Yellow Hat,INES,Kato Sangyo,Yoshinoya Holdings,Nitori Holdings
1954,2016-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953,2016-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1952,2016-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951,2016-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1950,2016-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2023-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2023-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_price.columns

Index(['Date', 'Kyokuyo', 'Nissui', 'Maruha Nichiro', 'Sakata Seed Corp',
       'Hokuto', 'West Holdings', 'Fukui Computer Holdings', 'Mirait One',
       'Sumiseki Holdings Inc.',
       ...
       'Yamada Holdings', 'Nichiden Co', 'Sagami Holdings', 'JBCC',
       'Matsuya Foods Holdings', 'Yellow Hat', 'Ines Corp', 'Kato Sangyo',
       'Yoshinoya Holdings', 'Nitori Holdings'],
      dtype='object', length=101)

In [12]:
column_lengths = df.apply(len)
longest_column = column_lengths.idxmax()
longest_column_length = column_lengths.max()
print(f"Cột có số hàng dài nhất là '{longest_column}' với {longest_column_length} hàng.")

Cột có số hàng dài nhất là 'KYOKUYO' với 41 hàng.

In [13]:
# even_columns = df.columns[::2]
# for col in even_columns:  # Lấy các tên cột có chỉ số chẵn (0, 2, ...)
#     for i, row in daily_df.iterrows():
#         current_date = row['Date']

#         # Lấy mốc quá khứ gần nhất
#         closest_date = df[df[col] <= current_date].iloc[-1]

#         # Gán giá trị từ mốc quá khứ gần nhất
#         daily_df.at[i, company] = closest_date[company]

In [14]:
# Chuyển đổi các cột ngày trong df sang kiểu datetime
for col in df.columns[1::2]:  # Duyệt qua các cột ngày (chỉ số chẵn)
    df[col] = pd.to_datetime(df[col], errors='coerce')

# Giả sử daily_df đã chứa cột 'Date' là datetime

In [15]:
daily_df

,Date,KYOKUYO,NISSUI,MARUHA,SAKATA,HOKUTO,WEST,SHO,MIRAIT,SUMISEKI,...,YAMADA HOLDINGS,Nichiden Co,Sagami Holdings,JBCC,Matsuya Foods Holdings,Yellow Hat,INES,Kato Sangyo,Yoshinoya Holdings,Nitori Holdings
1954,2016-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953,2016-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1952,2016-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951,2016-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1950,2016-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2023-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2023-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# # Giả sử df và daily_df đã được định nghĩa
# even_columns = df.columns[0::2]  # Các cột chứa giá trị
# odd_columns = df.columns[1::2]  # Các cột chứa ngày

# for col, value_col in zip(odd_columns, even_columns):  # Lặp qua từng cặp cột
#     # Làm sạch dữ liệu và đảo ngược thứ tự của df (lặp từ dưới lên trên)
#     temp_df = df[[col, value_col]].dropna().iloc[::-1]  # Đảo ngược thứ tự trong df
    
#     # Lặp qua từng dòng trong daily_df
#     for i, row in daily_df.iterrows():  
#         current_date = row['Date']

#         # Tìm giá trị trong df với ngày nhỏ hơn hoặc bằng current_date (từ dưới lên)
#         closest_rows = temp_df[temp_df[col] <= current_date]  # Các dòng có ngày <= current_date

#         if not closest_rows.empty:
#             # Tìm dòng có giá trị không bằng 0
#             closest_row = closest_rows[closest_rows[value_col] != 0].iloc[-1]
#             daily_df.at[i, value_col] = closest_row[value_col]
#         else:
#             # Nếu tất cả các giá trị là 0, gán 0 (hoặc giá trị thay thế khác nếu cần)
#             daily_df.at[i, value_col] = 0

In [17]:
even_columns = df.columns[0::2]  # values column
odd_columns = df.columns[1::2]  # Date column

for col, value_col in zip(odd_columns, even_columns): 
    # Clean the data and reverse the order of the DataFrame (iterate from bottom to top)
    temp_df = df[[col, value_col]].dropna().iloc[::-1]  
    
    # ilterate each date in daily_df
    for i, row in daily_df.iterrows():  
        current_date = row['Date']

        # find dates which are smaller than the current_date
        closest_rows = temp_df[temp_df[col] <= current_date]

        if not closest_rows.empty:
            # filter the values that are not equal to 0.
            closest_rows_non_zero = closest_rows[closest_rows[value_col] != 0]
            
            if not closest_rows_non_zero.empty:
                # Get the closest value
                closest_row = closest_rows_non_zero.iloc[-1]
                daily_df.at[i, value_col] = closest_row[value_col]

In [18]:
df_test = df[["KYOKUYO","Unnamed: 1"]].dropna().iloc[::-1]

In [19]:
daily_df.columns[100:]

Index(['Nitori Holdings'], dtype='object')

In [20]:
daily_df

,Date,KYOKUYO,NISSUI,MARUHA,SAKATA,HOKUTO,WEST,SHO,MIRAIT,SUMISEKI,...,YAMADA HOLDINGS,Nichiden Co,Sagami Holdings,JBCC,Matsuya Foods Holdings,Yellow Hat,INES,Kato Sangyo,Yoshinoya Holdings,Nitori Holdings
1954,2016-01-04,5.0,2.0,30.0,13.0,10.0,35.0,53.0,15.0,2.0,...,6.0,NaN,NaN,12.5,12.0,26.0,8.0,NaN,10.0,30.0
1953,2016-01-05,5.0,2.0,30.0,13.0,10.0,35.0,53.0,15.0,2.0,...,6.0,NaN,NaN,12.5,12.0,26.0,8.0,NaN,10.0,30.0
1952,2016-01-06,5.0,2.0,30.0,13.0,10.0,35.0,53.0,15.0,2.0,...,6.0,NaN,NaN,12.5,12.0,26.0,8.0,NaN,10.0,30.0
1951,2016-01-07,5.0,2.0,30.0,13.0,10.0,35.0,53.0,15.0,2.0,...,6.0,NaN,NaN,12.5,12.0,26.0,8.0,NaN,10.0,30.0
1950,2016-01-08,5.0,2.0,30.0,13.0,10.0,35.0,53.0,15.0,2.0,...,6.0,NaN,NaN,12.5,12.0,26.0,8.0,NaN,10.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2023-12-25,10.0,10.0,35.0,35.0,10.0,55.0,70.0,30.0,7.5,...,12.0,65.0,2.0,40.0,12.0,33.0,25.0,3.0,8.0,75.0
3,2023-12-26,10.0,10.0,35.0,35.0,10.0,55.0,70.0,30.0,7.5,...,12.0,65.0,2.0,40.0,12.0,33.0,25.0,3.0,8.0,75.0
2,2023-12-27,10.0,10.0,35.0,35.0,10.0,55.0,70.0,30.0,7.5,...,12.0,65.0,2.0,40.0,12.0,33.0,25.0,3.0,8.0,75.0
1,2023-12-28,10.0,10.0,35.0,35.0,10.0,55.0,70.0,30.0,7.5,...,12.0,65.0,2.0,40.0,12.0,33.0,25.0,3.0,8.0,75.0
0,2023-12-29,10.0,10.0,35.0,35.0,10.0,55.0,70.0,30.0,7.5,...,12.0,65.0,2.0,40.0,12.0,33.0,25.0,3.0,8.0,75.0

In [21]:
# Điền NaN bằng giá trị cuối cùng không phải NaN trong cột
daily_filled = daily_df.fillna(method='ffill', axis=0)  # Điền giá trị từ trên xuống

# Nếu bạn muốn điền tất cả giá trị NaN bằng giá trị cuối cùng, sử dụng 'bfill' (từ dưới lên)
daily_filled = daily_filled.fillna(method='bfill', axis=0)

In [22]:
daily_filled.to_csv(r'C:\Users\DELL\Desktop\dividend_filled.csv')

In [23]:
df_price["Date"] = pd.to_datetime(df_price['Date'], format='%d-thg %m-%Y')

In [24]:
df_price = df_price.replace({r'\.': ''}, regex=True)  # Loại bỏ dấu chấm
df_price = df_price.replace({r',': '.'}, regex=True)  # Thay phẩy thành dấu chấm

# Bước 2: Chuyển dữ liệu thành kiểu float
df_price = df_price.apply(pd.to_numeric, errors='coerce')

In [25]:
df_price = df_price.sort_values("Date")

In [26]:
df_price_drop = df_price.drop("Date", axis=1).reset_index()

In [27]:
daily_filled_drop = daily_filled.drop("Date", axis=1).reset_index()

In [28]:
daily_filled_drop.columns = df_price_drop.columns

In [29]:
daily_filled_drop.columns

Index(['index', 'Kyokuyo', 'Nissui', 'Maruha Nichiro', 'Sakata Seed Corp',
       'Hokuto', 'West Holdings', 'Fukui Computer Holdings', 'Mirait One',
       'Sumiseki Holdings Inc.',
       ...
       'Yamada Holdings', 'Nichiden Co', 'Sagami Holdings', 'JBCC',
       'Matsuya Foods Holdings', 'Yellow Hat', 'Ines Corp', 'Kato Sangyo',
       'Yoshinoya Holdings', 'Nitori Holdings'],
      dtype='object', length=101)

In [30]:
daily_filled_drop

,index,Kyokuyo,Nissui,Maruha Nichiro,Sakata Seed Corp,Hokuto,West Holdings,Fukui Computer Holdings,Mirait One,Sumiseki Holdings Inc.,...,Yamada Holdings,Nichiden Co,Sagami Holdings,JBCC,Matsuya Foods Holdings,Yellow Hat,Ines Corp,Kato Sangyo,Yoshinoya Holdings,Nitori Holdings
0,1954,5.0,2.0,30.0,13.0,10.0,35.0,53.0,15.0,2.0,...,6.0,2.5,5.0,12.5,12.0,26.0,8.0,23.0,10.0,30.0
1,1953,5.0,2.0,30.0,13.0,10.0,35.0,53.0,15.0,2.0,...,6.0,2.5,5.0,12.5,12.0,26.0,8.0,23.0,10.0,30.0
2,1952,5.0,2.0,30.0,13.0,10.0,35.0,53.0,15.0,2.0,...,6.0,2.5,5.0,12.5,12.0,26.0,8.0,23.0,10.0,30.0
3,1951,5.0,2.0,30.0,13.0,10.0,35.0,53.0,15.0,2.0,...,6.0,2.5,5.0,12.5,12.0,26.0,8.0,23.0,10.0,30.0
4,1950,5.0,2.0,30.0,13.0,10.0,35.0,53.0,15.0,2.0,...,6.0,2.5,5.0,12.5,12.0,26.0,8.0,23.0,10.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1950,4,10.0,10.0,35.0,35.0,10.0,55.0,70.0,30.0,7.5,...,12.0,65.0,2.0,40.0,12.0,33.0,25.0,3.0,8.0,75.0
1951,3,10.0,10.0,35.0,35.0,10.0,55.0,70.0,30.0,7.5,...,12.0,65.0,2.0,40.0,12.0,33.0,25.0,3.0,8.0,75.0
1952,2,10.0,10.0,35.0,35.0,10.0,55.0,70.0,30.0,7.5,...,12.0,65.0,2.0,40.0,12.0,33.0,25.0,3.0,8.0,75.0
1953,1,10.0,10.0,35.0,35.0,10.0,55.0,70.0,30.0,7.5,...,12.0,65.0,2.0,40.0,12.0,33.0,25.0,3.0,8.0,75.0
1954,0,10.0,10.0,35.0,35.0,10.0,55.0,70.0,30.0,7.5,...,12.0,65.0,2.0,40.0,12.0,33.0,25.0,3.0,8.0,75.0

In [31]:
df_price_drop

,index,Kyokuyo,Nissui,Maruha Nichiro,Sakata Seed Corp,Hokuto,West Holdings,Fukui Computer Holdings,Mirait One,Sumiseki Holdings Inc.,...,Yamada Holdings,Nichiden Co,Sagami Holdings,JBCC,Matsuya Foods Holdings,Yellow Hat,Ines Corp,Kato Sangyo,Yoshinoya Holdings,Nitori Holdings
0,1954,2750.0,683.0,2036.0,2840.0,2321.0,433.1,1330.0,983.0,109.0,...,516.0,1466.5,1269.0,755.0,8.2,1219.5,1134.0,2734.0,1548.0,9980.0
1,1953,2760.0,641.0,2046.0,2832.0,2315.0,439.1,1284.0,973.0,109.0,...,538.0,1467.0,1273.0,749.0,8.1,1206.5,1126.0,2819.0,1561.0,9930.0
2,1952,2760.0,652.0,2050.0,2845.0,2246.0,423.7,1228.0,964.0,108.0,...,536.0,1462.5,1265.0,743.0,8.3,1171.0,1145.0,2778.0,1544.0,9730.0
3,1951,2710.0,640.0,2023.0,2729.0,2242.0,412.4,1270.0,971.0,108.0,...,532.0,1431.5,1245.0,735.0,8.3,1128.5,1082.0,2790.0,1535.0,9370.0
4,1950,2700.0,642.0,2032.0,2670.0,2205.0,411.2,1229.0,951.0,105.0,...,530.0,1401.0,1230.0,735.0,8.2,1145.0,1092.0,2773.0,1502.0,9470.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1950,4,3715.0,764.3,2751.0,3840.0,1723.0,3020.0,2492.0,1842.5,1036.0,...,428.0,2865.0,1405.0,3650.0,17.5,1743.0,1659.0,4525.0,3231.0,18575.0
1951,3,3730.0,766.7,2749.5,3860.0,1713.0,3045.0,2445.0,1849.0,1043.0,...,428.0,2898.0,1407.0,3570.0,17.5,1744.0,1652.0,4545.0,3210.0,18600.0
1952,2,3755.0,771.0,2767.5,3880.0,1720.0,3025.0,2504.0,1864.5,1057.0,...,433.8,2892.0,1425.0,3665.0,17.8,1752.0,1665.0,4600.0,3188.0,19035.0
1953,1,3770.0,759.9,2765.5,3895.0,1741.0,3095.0,2512.0,1846.0,1082.0,...,436.4,2898.0,1434.0,3695.0,18.0,1761.0,1616.0,4650.0,3211.0,18925.0
1954,0,3770.0,759.1,2776.0,3915.0,1736.0,3085.0,2520.0,1859.0,1095.0,...,438.4,2871.0,1441.0,3710.0,17.7,1765.0,1612.0,4595.0,3205.0,18880.0

In [32]:
df_price_drop = df_price_drop.drop("index", axis=1)

In [33]:
daily_filled_drop = daily_filled_drop.drop("index", axis=1)

In [34]:
k_p_df = df_price_drop/ daily_filled_drop
print(k_p_df)

      Kyokuyo  Nissui  Maruha Nichiro  Sakata Seed Corp  Hokuto  \
0       550.0  341.50       67.866667        218.461538   232.1
1       552.0  320.50       68.200000        217.846154   231.5
2       552.0  326.00       68.333333        218.846154   224.6
3       542.0  320.00       67.433333        209.923077   224.2
4       540.0  321.00       67.733333        205.384615   220.5
...       ...     ...             ...               ...     ...
1950    371.5   76.43       78.600000        109.714286   172.3
1951    373.0   76.67       78.557143        110.285714   171.3
1952    375.5   77.10       79.071429        110.857143   172.0
1953    377.0   75.99       79.014286        111.285714   174.1
1954    377.0   75.91       79.314286        111.857143   173.6

      West Holdings  Fukui Computer Holdings  Mirait One  \
0         12.374286                25.094340   65.533333
1         12.545714                24.226415   64.866667
2         12.105714                23.169811   64.266667
3         11.782857                23.962264   64.733333
4         11.748571                23.188679   63.400000
...             ...                      ...         ...
1950      54.909091                35.600000   61.416667
1951      55.363636                34.928571   61.633333
1952      55.000000                35.771429   62.150000
1953      56.272727                35.885714   61.533333
1954      56.090909                36.000000   61.966667

      Sumiseki Holdings Inc.  Nittetsu Mining  ...  Yamada Holdings  \
0                  54.500000       741.428571  ...        86.000000
1                  54.500000       750.000000  ...        89.666667
2                  54.000000       735.714286  ...        89.333333
3                  54.000000       707.142857  ...        88.666667
4                  52.500000       700.000000  ...        88.333333
...                      ...              ...  ...              ...
1950              138.133333        62.142857  ...        35.666667
1951              139.066667        62.738095  ...        35.666667
1952              140.933333        64.047619  ...        36.150000
1953              144.266667        63.452381  ...        36.366667
1954              146.000000        62.023810  ...        36.533333

      Nichiden Co  Sagami Holdings    JBCC  Matsuya Foods Holdings  \
0      586.600000            253.8  60.400                0.683333
1      586.800000            254.6  59.920                0.675000
2      585.000000            253.0  59.440                0.691667
3      572.600000            249.0  58.800                0.691667
4      560.400000            246.0  58.800                0.683333
...           ...              ...     ...                     ...
1950    44.076923            702.5  91.250                1.458333
1951    44.584615            703.5  89.250                1.458333
1952    44.492308            712.5  91.625                1.483333
1953    44.584615            717.0  92.375                1.500000
1954    44.169231            720.5  92.750                1.475000

      Yellow Hat  Ines Corp  Kato Sangyo  Yoshinoya Holdings  Nitori Holdings
0      46.903846    141.750   118.869565             154.800       332.666667
1      46.403846    140.750   122.565217             156.100       331.000000
2      45.038462    143.125   120.782609             154.400       324.333333
3      43.403846    135.250   121.304348             153.500       312.333333
4      44.038462    136.500   120.565217             150.200       315.666667
...          ...        ...          ...                 ...              ...
1950   52.818182     66.360  1508.333333             403.875       247.666667
1951   52.848485     66.080  1515.000000             401.250       248.000000
1952   53.090909     66.600  1533.333333             398.500       253.800000
1953   53.363636     64.640  1550.000000             401.375       252.333333
1954   53.484848     64.480  1531.666667             400.625       251.733333

[1955 rows x 100 columns]

In [35]:
mean_values = k_p_df.mean()

In [36]:
k_p_df

,Kyokuyo,Nissui,Maruha Nichiro,Sakata Seed Corp,Hokuto,West Holdings,Fukui Computer Holdings,Mirait One,Sumiseki Holdings Inc.,Nittetsu Mining,...,Yamada Holdings,Nichiden Co,Sagami Holdings,JBCC,Matsuya Foods Holdings,Yellow Hat,Ines Corp,Kato Sangyo,Yoshinoya Holdings,Nitori Holdings
0,550.0,341.50,67.866667,218.461538,232.1,12.374286,25.094340,65.533333,54.500000,741.428571,...,86.000000,586.600000,253.8,60.400,0.683333,46.903846,141.750,118.869565,154.800,332.666667
1,552.0,320.50,68.200000,217.846154,231.5,12.545714,24.226415,64.866667,54.500000,750.000000,...,89.666667,586.800000,254.6,59.920,0.675000,46.403846,140.750,122.565217,156.100,331.000000
2,552.0,326.00,68.333333,218.846154,224.6,12.105714,23.169811,64.266667,54.000000,735.714286,...,89.333333,585.000000,253.0,59.440,0.691667,45.038462,143.125,120.782609,154.400,324.333333
3,542.0,320.00,67.433333,209.923077,224.2,11.782857,23.962264,64.733333,54.000000,707.142857,...,88.666667,572.600000,249.0,58.800,0.691667,43.403846,135.250,121.304348,153.500,312.333333
4,540.0,321.00,67.733333,205.384615,220.5,11.748571,23.188679,63.400000,52.500000,700.000000,...,88.333333,560.400000,246.0,58.800,0.683333,44.038462,136.500,120.565217,150.200,315.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1950,371.5,76.43,78.600000,109.714286,172.3,54.909091,35.600000,61.416667,138.133333,62.142857,...,35.666667,44.076923,702.5,91.250,1.458333,52.818182,66.360,1508.333333,403.875,247.666667
1951,373.0,76.67,78.557143,110.285714,171.3,55.363636,34.928571,61.633333,139.066667,62.738095,...,35.666667,44.584615,703.5,89.250,1.458333,52.848485,66.080,1515.000000,401.250,248.000000
1952,375.5,77.10,79.071429,110.857143,172.0,55.000000,35.771429,62.150000,140.933333,64.047619,...,36.150000,44.492308,712.5,91.625,1.483333,53.090909,66.600,1533.333333,398.500,253.800000
1953,377.0,75.99,79.014286,111.285714,174.1,56.272727,35.885714,61.533333,144.266667,63.452381,...,36.366667,44.584615,717.0,92.375,1.500000,53.363636,64.640,1550.000000,401.375,252.333333
1954,377.0,75.91,79.314286,111.857143,173.6,56.090909,36.000000,61.966667,146.000000,62.023810,...,36.533333,44.169231,720.5,92.750,1.475000,53.484848,64.480,1531.666667,400.625,251.733333

In [37]:
mean_values

Kyokuyo               200.003260
Nissui                140.045583
Maruha Nichiro         71.542588
Sakata Seed Corp      232.364313
Hokuto                129.112389
                         ...
Yellow Hat             57.177748
Ines Corp             102.261861
Kato Sangyo           182.168375
Yoshinoya Holdings    273.720166
Nitori Holdings       802.744936
Length: 100, dtype: float64

In [38]:
# Tạo DataFrame cho các cột có mean > 50
df_high_ratio = k_p_df.loc[:, mean_values > 30]

# Tạo DataFrame cho các cột có mean <= 50
df_low_ratio = k_p_df.loc[:, mean_values <= 30]

In [39]:
df_low_ratio

,Asanuma Corp,Koshidaka,Link and Motivation,Ezaki Glico,Fujiza,Kameda Seika,Kotobuki Spirits,Calbee,Itoham Yonekyu Holdings,Digital Arts,...,JP-Holdings,Fujio Food System,Komehyo,Alfresa Holdings,Daikokutenbussan,Honeys Holdings Co.Ltd,Kikkoman,Ajinomoto Co,KEWPIE Corporation,Matsuya Foods Holdings
0,152.500000,0.193333,1.363636,3.7500,22.900000,4.378571,0.097500,2.096429,NaN,3.657143,...,1.050,0.233333,1.860000,1.73125,2.427273,1.250000,0.400000,2.553846,2.760000,0.683333
1,152.500000,0.186667,1.363636,3.7450,23.100000,4.464286,0.095000,2.060714,NaN,3.671429,...,1.025,0.230000,1.866667,1.72500,2.422727,1.290000,0.387500,2.507692,2.752000,0.675000
2,150.000000,0.193333,1.363636,3.7900,23.400000,4.485714,0.097500,2.075000,NaN,4.028571,...,1.025,0.233333,1.866667,1.75000,2.454545,1.310000,0.391667,2.523077,2.776000,0.691667
3,149.000000,0.193333,1.363636,3.7750,23.400000,4.471429,0.097500,2.067857,NaN,4.028571,...,1.000,0.230000,1.793333,1.76250,2.468182,1.330000,0.391667,2.500000,2.752000,0.691667
4,148.000000,0.193333,1.363636,3.7750,23.600000,4.392857,0.097500,2.064286,NaN,4.114286,...,1.000,0.230000,1.753333,1.75000,2.445455,1.240000,0.395833,2.530769,2.648000,0.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1950,3.780105,1.940000,1.750000,0.9650,0.783333,2.493333,0.292857,0.505769,1.470833,1.140000,...,0.840,5.280000,0.802273,4.50000,2.313793,0.540000,0.473529,1.348649,0.995652,1.458333
1951,3.806283,1.940000,1.714286,0.9725,0.786667,2.480000,0.290000,0.501923,1.483333,1.152500,...,0.820,5.280000,0.804545,4.50000,2.348276,0.540000,0.473529,1.354054,0.995652,1.458333
1952,3.869110,2.000000,1.821429,0.9775,0.790000,2.506667,0.288571,0.501923,1.495833,1.170000,...,0.840,5.280000,0.822727,4.50000,2.410345,0.546667,0.479412,1.367568,1.000000,1.483333
1953,4.005236,2.040000,1.857143,0.9650,0.766667,2.533333,0.288571,0.505769,1.491667,1.180000,...,0.840,5.280000,0.829545,4.48000,2.400000,0.550000,0.476471,1.375676,1.004348,1.500000
1954,4.041885,2.040000,1.857143,0.9750,0.756667,2.560000,0.288571,0.509615,1.500000,1.200000,...,0.840,5.280000,0.825000,4.48000,2.427586,0.543333,0.473529,1.375676,1.008696,1.475000

In [40]:
df_high_ratio= df_high_ratio.round(2)

In [41]:
df_low_ratio = df_low_ratio.round(2)

In [42]:
df_high_ratio["mean"] =df_high_ratio.mean(axis=1)
df_low_ratio["mean"] =  df_low_ratio.mean(axis =1)

In [43]:
df_high_ratio["mean"]

0       263.9270
1       263.9552
2       262.8936
3       258.1832
4       254.8058
          ...
1950    134.4168
1951    134.5942
1952    135.9318
1953    136.5600
1954    136.3936
Name: mean, Length: 1955, dtype: float64

In [44]:
df_low_ratio["mean"]

0       5.194898
1       5.200612
2       5.170816
3       5.145918
4       5.118776
          ...
1950    1.541800
1951    1.548000
1952    1.570600
1953    1.585000
1954    1.597800
Name: mean, Length: 1955, dtype: float64

In [45]:
df_mean_sub = df_high_ratio["mean"] - df_low_ratio["mean"]

In [46]:
type(df_mean_sub)

pandas.core.series.Series

In [47]:
df_mean_sub = pd.DataFrame(df_mean_sub).rename(columns={0: "mental_account"})

In [48]:
df_price= df_price.reset_index(drop=True)

In [49]:
df_mean_sub["Date"] = df_price["Date"]

In [51]:
df_mean_sub.to_excel(r'C:\Users\DELL\Desktop\financial materials\mental_accounting.xlsx')

In [ ]:
import matplotlib.ticker as ticker

df_mean_sub['Date']= pd.to_datetime(df_mean_sub['Date'], format='%Y-%m-%d %H:%M:%S').dt.date
df_mean_sub['Quarter'] = pd.to_datetime(df_mean_sub["Date"]).dt.to_period('Q')

# Create the plot
plt.figure(figsize=(15, 6))

# Plot 'CSAD' against 'Date'
plt.plot(df_mean_sub['Date'], df_mean_sub['mean'], linestyle='-', color='black')

# Set the title and labels
plt.title('mental accounting')
plt.xlabel('Daily')
#plt.ylabel('Cross-sectional absolute deviation')

# Adding quarter labels on the x-axis
# Ensure that the quarter labels do not overlap

#quarter_labels = df_sr_total['Quarter'].astype(str)

#plt.xticks(CSAD_df['Date'][::60], quarter_labels[::60], rotation=90)
plt.gca().xaxis.set_major_locator(ticker.MaxNLocator(integer=True, prune='both'))
# Add grid for better readability
#plt.grid(True)

# Adjust layout to prevent overlap
plt.tight_layout()

# Display the plot
plt.show()

## Economic Policy Uncertainty

In [ ]:
epu_df = pd.read_excel('Japan_Policy_Uncertainty_Data.xlsx', sheet_name="Main Index")

In [ ]:
epu_df = epu_df[["Year","Month","News-based Economic Policy Uncertainty Index"]]

In [ ]:
epu_df

In [ ]:
epu_df = epu_df.rename(columns={'News-based Economic Policy Uncertainty Index':"Epu_index"})

In [ ]:
epu_df

In [ ]:
epu_df['year_month'] = pd.to_datetime(epu_df['Year'].astype(str) + '-' + epu_df['Month'].astype(str).str.zfill(2))

start_date = '2016-01-01'
end_date = '2023-12-31'
epu_df_filtered = epu_df[epu_df['year_month'].between(start_date, end_date)]

print(epu_df_filtered)

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
import matplotlib.ticker as ticker

# Extract quarter information from 'Date' and assign it to 'Quarter'
#df_sr_total['Quarter'] = pd.to_datetime(df_sr_total["Date"]).dt.to_period('Q')

# Create the plot
plt.figure(figsize=(15, 6))

# Plot 'CSAD' against 'Date'
plt.plot(epu_df_filtered['year_month'], epu_df_filtered['Epu_index'], linestyle='-', color='black')

# Set the title and labels
plt.title('Ecomomic Policy Uncertainty')
plt.xlabel('monthly')
#plt.ylabel('Cross-sectional absolute deviation')

# Adding quarter labels on the x-axis
# Ensure that the quarter labels do not overlap

#quarter_labels = df_sr_total['Quarter'].astype(str)

#plt.xticks(CSAD_df['Date'][::60], quarter_labels[::60], rotation=90)
plt.gca().xaxis.set_major_locator(ticker.MaxNLocator(integer=True, prune='both'))
# Add grid for better readability
#plt.grid(True)

# Adjust layout to prevent overlap
plt.tight_layout()

# Display the plot
plt.show()