## OverConfidence

The Overconfidence is calculated (Adel and Mariem, 2013) by using the following formula:

$$TR = \frac{V_{i,t}}{N_{i,t}}$$

Where:
- \(V_{i,t}\) is the number of traded shares of stock \(i\) (volume traded per day);
- \(N_{i,t}\) represents the number of exchanges of shares \(i\) (number of transactions per day).

This expression has been used as a measure of the volume and number of transactions (Adel and Mariem, 2013).

In [1]:
import pandas as pd
import numpy as np

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\DELL\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\DELL\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\DELL\anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
    self.io_loop.start()
  File "C:\Users\DELL\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\DELL\anaconda3\lib\asyncio\base_events.py", line 596, in run_forever
    self._run_once()
  File "C:\Users\DELL\anaconda3\lib\asyncio\base_events.py", line 1890, in _run_once
    handle._run()
  File "C:\Users\DELL\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 457, in dispatch_queue
    await self.process_one()
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 446, in process_one
    await dispatch(*args)
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 353, in dispatch_shell
    await result
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 648, in execute_request
    reply_content = await reply_content
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_cell
    result = self._run_cell(
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2947, in _run_cell
    return runner(coro)
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3172, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3364, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\DELL\AppData\Local\Temp/ipykernel_21192/2162656668.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\__init__.py", line 80, in <module>
    from pandas.core.api import (
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\DELL\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\DELL\anaconda3\lib\site-packages\numexpr\__init__.py", line 26, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\DELL\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\DELL\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\DELL\anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
    self.io_loop.start()
  File "C:\Users\DELL\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\DELL\anaconda3\lib\asyncio\base_events.py", line 596, in run_forever
    self._run_once()
  File "C:\Users\DELL\anaconda3\lib\asyncio\base_events.py", line 1890, in _run_once
    handle._run()
  File "C:\Users\DELL\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 457, in dispatch_queue
    await self.process_one()
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 446, in process_one
    await dispatch(*args)
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 353, in dispatch_shell
    await result
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 648, in execute_request
    reply_content = await reply_content
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_cell
    result = self._run_cell(
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2947, in _run_cell
    return runner(coro)
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3172, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3364, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\DELL\AppData\Local\Temp/ipykernel_21192/2162656668.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\__init__.py", line 80, in <module>
    from pandas.core.api import (
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\DELL\anaconda3\lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\DELL\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\DELL\anaconda3\lib\site-packages\bottleneck\__init__.py", line 2, in <module>
    from .reduce import (

AttributeError: _ARRAY_API not found

In [2]:
import numpy as np
print(np.__version__)

2.0.2

In [3]:
df = pd.read_excel('Stock Price & Volume.xlsx', sheet_name = "Volume")

In [4]:
# Giả sử bạn có DataFrame df_ar

# Bước 1: Loại bỏ dấu chấm (phần nghìn) và thay phẩy thành dấu chấm
df = df.replace({r'\.': ''}, regex=True)  # Loại bỏ dấu chấm
df = df.replace({r',': '.'}, regex=True)  # Thay phẩy thành dấu chấm

# Bước 2: Chuyển dữ liệu thành kiểu float
df = df.apply(pd.to_numeric, errors='coerce')

In [5]:
type(df["ABC-Mart"][0])

numpy.int64

In [6]:
from faker import Faker
import random
import pandas as pd
from datetime import datetime, timedelta

# Danh sách công ty phân loại
companies = {
    'Kyokuyo': 'Thực phẩm và Đồ uống',
    'Nissui': 'Thực phẩm và Đồ uống',
    'Maruha Nichiro': 'Thực phẩm và Đồ uống',
    'Sakata Seed Corp': 'Nông nghiệp',
    'Hokuto': 'Thực phẩm và Đồ uống',
    'West Holdings': 'Bất động sản',
    'Fukui Computer Holdings': 'Công nghệ',
    'Mirait One': 'Xây dựng và Cơ sở hạ tầng',
    'Sumiseki Holdings Inc.': 'Công nghệ',
    'Nittetsu Mining': 'Năng lượng và Tài nguyên',
    'Inpex Corporation': 'Năng lượng và Tài nguyên',
    'Japan Petroleum Exploration': 'Năng lượng và Tài nguyên',
    'K&O Energy Group': 'Năng lượng và Tài nguyên',
    'Hazama Ando': 'Xây dựng và Cơ sở hạ tầng',
    'Tokyu Construction': 'Xây dựng và Cơ sở hạ tầng',
    'Comsys Holdings': 'Công nghệ',
    'Takamatsu Construction Group': 'Xây dựng và Cơ sở hạ tầng',
    'Token': 'Công nghệ',
    'Senshu Electric': 'Công nghệ',
    'Obayashi': 'Xây dựng và Cơ sở hạ tầng',
    'Shimizu Corp': 'Xây dựng và Cơ sở hạ tầng',
    'Haseko': 'Xây dựng và Cơ sở hạ tầng',
    'Kajima Corp': 'Xây dựng và Cơ sở hạ tầng',
    'Fudo Tetra': 'Bất động sản',
    'Tekken Corp': 'Công nghệ',
    'Nishimatsu Construction': 'Xây dựng và Cơ sở hạ tầng',
    'Sumitomo Mitsui Construction': 'Xây dựng và Cơ sở hạ tầng',
    'Daiho': 'Xây dựng và Cơ sở hạ tầng',
    'Okumura Corp': 'Xây dựng và Cơ sở hạ tầng',
    'Totetsu Kogyo': 'Công nghệ',
    'Asanuma Corp': 'Xây dựng và Cơ sở hạ tầng',
    'Toda Corp': 'Xây dựng và Cơ sở hạ tầng',
    'Kumagai-Gumi': 'Xây dựng và Cơ sở hạ tầng',
    'Koshidaka': 'Giải trí',
    'Link and Motivation': 'Công nghệ',
    'Ezaki Glico': 'Thực phẩm và Đồ uống',
    'Fujiza': 'Thực phẩm và Đồ uống',
    'Kameda Seika': 'Thực phẩm và Đồ uống',
    'Kotobuki Spirits': 'Thực phẩm và Đồ uống',
    'Calbee': 'Thực phẩm và Đồ uống',
    'Itoham Yonekyu Holdings': 'Thực phẩm và Đồ uống',
    'Digital Arts': 'Công nghệ',
    'Ichigo': 'Bất động sản',
    'Kakaku.com Inc.': 'Công nghệ',
    'Dip': 'Công nghệ',
    'Digital Holdings': 'Công nghệ',
    'M3': 'Công nghệ',
    'DeNA': 'Công nghệ',
    'Hakuhodo DY Holdings': 'Quảng cáo và Marketing',
    'Gurunaivi': 'Công nghệ',
    'Fan Communications': 'Công nghệ',
    'Demae-can': 'Thực phẩm và Đồ uống',
    'Infomart': 'Công nghệ',
    'Asahi Group Holdings': 'Thực phẩm và Đồ uống',
    'Kirin Holdings Co.Ltd.': 'Thực phẩm và Đồ uống',
    'Coca-Cola Bottlers Japan': 'Thực phẩm và Đồ uống',
    'Trusco Nakayama': 'Bán lẻ',
    'Dydo Group Holding': 'Thực phẩm và Đồ uống',
    'Ito En': 'Thực phẩm và Đồ uống',
    'Key Coffee': 'Thực phẩm và Đồ uống',
    'Fuji Oil Holdings': 'Thực phẩm và Đồ uống',
    'J-Oil Mills Inc': 'Thực phẩm và Đồ uống',
    'Cawachi': 'Bán lẻ',
    'ABC-Mart': 'Bán lẻ',
    'Askul': 'Bán lẻ',
    'Geo Holdings': 'Bán lẻ',
    'Adastria Holdings': 'Bán lẻ',
    'Itochu Shokuhin': 'Thực phẩm và Đồ uống',
    'Kura sushi': 'Thực phẩm và Đồ uống',
    'Elematec': 'Công nghệ',
    'EDION Corp': 'Bán lẻ',
    'Arata': 'Bán lẻ',
    'Halows': 'Bán lẻ',
    'JP-Holdings': 'Bán lẻ',
    'Fujio Food System': 'Thực phẩm và Đồ uống',
    'Komehyo': 'Bán lẻ',
    'Alfresa Holdings': 'Y tế và Dược phẩm',
    'Daikokutenbussan': 'Bán lẻ',
    'Honeys Holdings Co.Ltd': 'Bán lẻ',
    'Kikkoman': 'Thực phẩm và Đồ uống',
    'Ajinomoto Co': 'Thực phẩm và Đồ uống',
    'KEWPIE Corporation': 'Thực phẩm và Đồ uống',
    'Fast Retailing': 'Bán lẻ',
    'Gecoss Corp': 'Công nghệ',
    'Belc': 'Bán lẻ',
    'Arcs': 'Bán lẻ',
    'Ministop': 'Bán lẻ',
    'Ohsho Food Svc': 'Thực phẩm và Đồ uống',
    'Inaba Denki Sangyo': 'Công nghệ',
    'Miroku Jyoho Service': 'Công nghệ',
    'Yamada Holdings': 'Bán lẻ',
    'Nichiden Co': 'Công nghệ',
    'Sagami Holdings': 'Thực phẩm và Đồ uống',
    'JBCC': 'Công nghệ',
    'Matsuya Foods Holdings': 'Thực phẩm và Đồ uống',
    'Yellow Hat': 'Bán lẻ',
    'Ines Corp': 'Công nghệ',
    'Kato Sangyo': 'Công nghệ',
    'Yoshinoya Holdings': 'Thực phẩm và Đồ uống',
    'Nitori Holdings': 'Bán lẻ',
}

# Tạo Faker instance
fake = Faker()

# Hàm để tạo dữ liệu cho số lượng giao dịch hàng ngày
def generate_daily_transactions(category):
    if category == 'Thực phẩm và Đồ uống':
        return random.randint(28, 274)
    elif category == 'Công nghệ':
        return random.randint(137, 822)
    elif category == 'Xây dựng và Cơ sở hạ tầng':
        return random.randint(14, 70)
    elif category == 'Năng lượng và Tài nguyên':
        return random.randint(8, 40)
    elif category == 'Bất động sản':
        return random.randint(27, 135)
    elif category == 'Giải trí':
        return random.randint(60, 120)
    elif category == 'Nông nghiệp':
        return random.randint(30, 60)
    elif category == 'Bán lẻ':
        return random.randint(548, 2740)
    elif category == 'Y tế và Dược phẩm':
        return random.randint(20, 70)
    else:
        return random.randint(50, 150)

# Danh sách ngày từ 05-Jan-2016 đến 29-Dec-2023
start_date = datetime(2016, 1, 5)
end_date = datetime(2023, 12, 29)
date_range = pd.date_range(start=start_date, end=end_date, freq='D')

# Tạo dữ liệu cho từng công ty
data = []
for company, category in companies.items():
    for date in date_range:
        daily_transactions = generate_daily_transactions(category)
        data.append({
            'company': company,
            'category': category,
            'date': date,
            'number_of_transactions': daily_transactions
        })

# Tạo DataFrame từ dữ liệu
df_fa = pd.DataFrame(data)

In [7]:
df_fa

,company,category,date,number_of_transactions
0,Kyokuyo,Thực phẩm và Đồ uống,2016-01-05,230
1,Kyokuyo,Thực phẩm và Đồ uống,2016-01-06,152
2,Kyokuyo,Thực phẩm và Đồ uống,2016-01-07,219
3,Kyokuyo,Thực phẩm và Đồ uống,2016-01-08,117
4,Kyokuyo,Thực phẩm và Đồ uống,2016-01-09,166
...,...,...,...,...
291595,Nitori Holdings,Bán lẻ,2023-12-25,2623
291596,Nitori Holdings,Bán lẻ,2023-12-26,2408
291597,Nitori Holdings,Bán lẻ,2023-12-27,606
291598,Nitori Holdings,Bán lẻ,2023-12-28,691
291599,Nitori Holdings,Bán lẻ,2023-12-29,2687

In [8]:
df_fa_pivot = df_fa.pivot(index='date', columns='company', values='number_of_transactions')

In [9]:
df_fa_pivot

company,ABC-Mart,Adastria Holdings,Ajinomoto Co,Alfresa Holdings,Arata,Arcs,Asahi Group Holdings,Asanuma Corp,Askul,Belc,...,Tekken Corp,Toda Corp,Token,Tokyu Construction,Totetsu Kogyo,Trusco Nakayama,West Holdings,Yamada Holdings,Yellow Hat,Yoshinoya Holdings
date,,,,,,,,,,,,,,,,,,,,,
2016-01-05,1527,938,43,27,2122,2137,169,50,1157,1241,...,629,18,665,14,808,1352,27,1981,794,147
2016-01-06,813,1651,153,59,1707,2260,246,19,1104,1358,...,547,58,357,31,479,2353,38,2672,2261,234
2016-01-07,793,1578,144,28,1277,1015,251,50,1678,1903,...,360,39,545,33,577,786,83,2539,1061,181
2016-01-08,2102,1475,140,26,1500,626,54,45,2622,2597,...,623,38,549,60,701,1920,50,2627,582,192
2016-01-09,1037,2232,38,46,2225,2133,168,70,2591,1365,...,287,19,447,49,520,2031,117,886,2052,153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-25,1793,2497,182,65,934,2586,101,26,920,2499,...,646,30,182,26,721,2142,92,1029,2387,259
2023-12-26,2208,1557,260,35,2146,1200,268,60,839,1971,...,192,70,354,16,584,2528,33,2092,1192,243
2023-12-27,1844,555,212,51,1705,1722,180,61,1246,1586,...,450,26,454,56,470,2101,129,2392,2440,219
2023-12-28,1124,1564,48,64,1570,2532,179,56,993,1980,...,822,53,182,61,766,1209,135,994,2071,217
2023-12-29,1067,2113,102,25,2727,1130,236,26,606,2682,...,175,15,764,70,217,1924,45,2361,662,204

In [10]:
print(df.columns.tolist())

['Date', 'Kyokuyo', 'Nissui ', 'Maruha Nichiro ', 'Sakata Seed Corp', 'Hokuto ', 'West Holdings', 'Fukui Computer Holdings', 'Mirait One', 'Sumiseki Holdings Inc.', 'Nittetsu Mining', 'Inpex Corporation ', 'Japan Petroleum Exploration ', 'K&O Energy Group', 'Hazama Ando ', 'Tokyu Construction', 'Comsys Holdings ', 'Takamatsu Construction Group ', 'Token ', 'Senshu Electric', 'Obayashi ', 'Shimizu Corp ', 'Haseko ', 'Kajima Corp', 'Fudo Tetra', 'Tekken Corp ', 'Nishimatsu Construction ', 'Sumitomo Mitsui Construction ', 'Daiho ', 'Okumura Corp', 'Totetsu Kogyo ', 'Asanuma Corp ', 'Toda Corp', 'Kumagai-Gumi ', 'Koshidaka', 'Link and Motivation ', 'Ezaki Glico', 'Fujiza', 'Kameda Seika', 'Kotobuki Spirits', 'Calbee', 'Itoham Yonekyu Holdings', 'Digital Arts ', 'Ichigo ', 'Kakaku.com Inc.', 'Dip ', 'Digital Holdings', 'M3', 'DeNA', 'Hakuhodo DY Holdings ', 'Gurunaivi', 'Fan Communications', 'Demae-can ', 'Infomart ', 'Asahi Group Holdings', 'Kirin Holdings Co.Ltd.', 'Coca-Cola Bottlers Japan', 'Trusco Nakayama', 'Dydo Group Holding ', 'Ito En', 'Key Coffee', 'Fuji Oil Holdings', 'J-Oil Mills Inc', 'Cawachi', 'ABC-Mart', 'Askul', 'Geo Holdings', 'Adastria Holdings', 'Itochu Shokuhin ', 'Kura sushi ', 'Elematec', 'EDION Corp', 'Arata', 'Halows', 'JP-Holdings', 'Fujio Food System ', 'Komehyo ', 'Alfresa Holdings', 'Daikokutenbussan ', 'Honeys Holdings Co.Ltd', 'Kikkoman ', 'Ajinomoto Co', 'KEWPIE Corporation ', 'Fast Retailing ', 'Gecoss Corp', 'Belc ', 'Arcs ', 'Ministop', 'Ohsho  Food Svc', 'Inaba Denki Sangyo ', 'Miroku  Jyoho Service', 'Yamada Holdings', 'Nichiden Co ', 'Sagami Holdings', 'JBCC', 'Matsuya Foods Holdings', 'Yellow Hat ', 'Ines Corp ', 'Kato Sangyo ', 'Yoshinoya Holdings', 'Nitori Holdings']

In [11]:
print(df_fa_pivot.columns.tolist())

['ABC-Mart', 'Adastria Holdings', 'Ajinomoto Co', 'Alfresa Holdings', 'Arata', 'Arcs', 'Asahi Group Holdings', 'Asanuma Corp', 'Askul', 'Belc', 'Calbee', 'Cawachi', 'Coca-Cola Bottlers Japan', 'Comsys Holdings', 'Daiho', 'Daikokutenbussan', 'DeNA', 'Demae-can', 'Digital Arts', 'Digital Holdings', 'Dip', 'Dydo Group Holding', 'EDION Corp', 'Elematec', 'Ezaki Glico', 'Fan Communications', 'Fast Retailing', 'Fudo Tetra', 'Fuji Oil Holdings', 'Fujio Food System', 'Fujiza', 'Fukui Computer Holdings', 'Gecoss Corp', 'Geo Holdings', 'Gurunaivi', 'Hakuhodo DY Holdings', 'Halows', 'Haseko', 'Hazama Ando', 'Hokuto', 'Honeys Holdings Co.Ltd', 'Ichigo', 'Inaba Denki Sangyo', 'Ines Corp', 'Infomart', 'Inpex Corporation', 'Ito En', 'Itochu Shokuhin', 'Itoham Yonekyu Holdings', 'J-Oil Mills Inc', 'JBCC', 'JP-Holdings', 'Japan Petroleum Exploration', 'K&O Energy Group', 'KEWPIE Corporation', 'Kajima Corp', 'Kakaku.com Inc.', 'Kameda Seika', 'Kato Sangyo', 'Key Coffee', 'Kikkoman', 'Kirin Holdings Co.Ltd.', 'Komehyo', 'Koshidaka', 'Kotobuki Spirits', 'Kumagai-Gumi', 'Kura sushi', 'Kyokuyo', 'Link and Motivation', 'M3', 'Maruha Nichiro', 'Matsuya Foods Holdings', 'Ministop', 'Mirait One', 'Miroku Jyoho Service', 'Nichiden Co', 'Nishimatsu Construction', 'Nissui', 'Nitori Holdings', 'Nittetsu Mining', 'Obayashi', 'Ohsho Food Svc', 'Okumura Corp', 'Sagami Holdings', 'Sakata Seed Corp', 'Senshu Electric', 'Shimizu Corp', 'Sumiseki Holdings Inc.', 'Sumitomo Mitsui Construction', 'Takamatsu Construction Group', 'Tekken Corp', 'Toda Corp', 'Token', 'Tokyu Construction', 'Totetsu Kogyo', 'Trusco Nakayama', 'West Holdings', 'Yamada Holdings', 'Yellow Hat', 'Yoshinoya Holdings']

In [12]:
df_sorted = df.sort_index(axis =1, ascending =True )

In [13]:
df_sorted

,ABC-Mart,Adastria Holdings,Ajinomoto Co,Alfresa Holdings,Arata,Arcs,Asahi Group Holdings,Asanuma Corp,Askul,Belc,...,Tekken Corp,Toda Corp,Token,Tokyu Construction,Totetsu Kogyo,Trusco Nakayama,West Holdings,Yamada Holdings,Yellow Hat,Yoshinoya Holdings
0,685700,379900,965700,292700,61700,65.0,4647005,776.5,313700,23.2,...,34.8,326.6,20.2,252.1,60.6,78.6,105.300,2688900,86.8,231.5
1,201700,273400,791400,222700,45300,49.7,5277305,784.0,274900,9.3,...,24.4,268.8,15.2,185.6,61.2,94.9,154.800,2299900,134.5,190.9
2,371600,212700,1138300,256800,46200,67.5,5906706,475.0,222700,16.2,...,48.7,434.8,27.6,182.2,37.6,87.5,94.200,3197200,124.0,288.9
3,374400,314000,791400,184500,45200,65.5,2546103,190.5,223800,12.8,...,24.6,342.9,25.4,180.7,41.0,66.8,77.200,2073600,118.6,257.7
4,551300,155900,523400,133400,26000,44.4,2280002,221.5,103300,11.8,...,22.4,259.6,25.4,169.3,46.0,98.4,62.600,1640000,206.2,255.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1950,1360801,581600,3673000,646500,27000,159.6,7966508,924.0,399200,23.5,...,81.3,1459000.0,24.2,742.2,86.4,124.0,109.174,4558400,149.0,659.8
1951,2233202,482400,2456000,615100,23600,197.5,7091107,449.0,381600,28.1,...,68.0,1107000.0,24.9,654.1,84.9,118.2,187.928,5833200,196.4,481.3
1952,1058401,461600,2885000,587200,17200,98.8,5490305,823.0,393200,61.9,...,78.6,815.0,17.2,610.2,68.5,115.0,182.858,6270200,135.6,458.0
1953,987301,527200,3104000,477600,33000,57.0,4010404,789.0,380800,30.0,...,94.6,574.0,26.8,853.8,89.9,109.2,96.499,8878100,104.4,390.9
1954,679501,1041400,1642000,438400,21200,99.2,3559504,802.0,453200,20.7,...,105.9,1076000.0,21.8,912.6,102.7,103.0,116.948,6082100,74.2,328.4

In [14]:
type(df_sorted["ABC-Mart"][0])

numpy.int64

In [15]:
def increase_if_one_decimal(x):
    # Kiểm tra nếu có 1 chữ số 0 sau dấu phẩy và giá trị nhỏ hơn 1000
    if len(str(x).split('.')[-1]) == 1 and x < 1000:
        return x * 1000  # Tăng thêm 1000
    return x

In [16]:
df_edited = df_sorted.applymap(increase_if_one_decimal)

C:\Users\DELL\AppData\Local\Temp/ipykernel_21192/1115300640.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_edited = df_sorted.applymap(increase_if_one_decimal)

In [17]:
df_edited

,ABC-Mart,Adastria Holdings,Ajinomoto Co,Alfresa Holdings,Arata,Arcs,Asahi Group Holdings,Asanuma Corp,Askul,Belc,...,Tekken Corp,Toda Corp,Token,Tokyu Construction,Totetsu Kogyo,Trusco Nakayama,West Holdings,Yamada Holdings,Yellow Hat,Yoshinoya Holdings
0,685700,379900,965700,292700,61700,65000.0,4647005,776500.0,313700,23200.0,...,34800.0,326600.0,20200.0,252100.0,60600.0,78600.0,105300.000,2688900,86800.0,231500.0
1,201700,273400,791400,222700,45300,49700.0,5277305,784000.0,274900,9300.0,...,24400.0,268800.0,15200.0,185600.0,61200.0,94900.0,154800.000,2299900,134500.0,190900.0
2,371600,212700,1138300,256800,46200,67500.0,5906706,475000.0,222700,16200.0,...,48700.0,434800.0,27600.0,182200.0,37600.0,87500.0,94200.000,3197200,124000.0,288900.0
3,374400,314000,791400,184500,45200,65500.0,2546103,190500.0,223800,12800.0,...,24600.0,342900.0,25400.0,180700.0,41000.0,66800.0,77200.000,2073600,118600.0,257700.0
4,551300,155900,523400,133400,26000,44400.0,2280002,221500.0,103300,11800.0,...,22400.0,259600.0,25400.0,169300.0,46000.0,98400.0,62600.000,1640000,206200.0,255900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1950,1360801,581600,3673000,646500,27000,159600.0,7966508,924000.0,399200,23500.0,...,81300.0,1459000.0,24200.0,742200.0,86400.0,124000.0,109.174,4558400,149000.0,659800.0
1951,2233202,482400,2456000,615100,23600,197500.0,7091107,449000.0,381600,28100.0,...,68000.0,1107000.0,24900.0,654100.0,84900.0,118200.0,187.928,5833200,196400.0,481300.0
1952,1058401,461600,2885000,587200,17200,98800.0,5490305,823000.0,393200,61900.0,...,78600.0,815000.0,17200.0,610200.0,68500.0,115000.0,182.858,6270200,135600.0,458000.0
1953,987301,527200,3104000,477600,33000,57000.0,4010404,789000.0,380800,30000.0,...,94600.0,574000.0,26800.0,853800.0,89900.0,109200.0,96.499,8878100,104400.0,390900.0
1954,679501,1041400,1642000,438400,21200,99200.0,3559504,802000.0,453200,20700.0,...,105900.0,1076000.0,21800.0,912600.0,102700.0,103000.0,116.948,6082100,74200.0,328400.0

In [18]:
df_fa_pivot=df_fa_pivot.reset_index()

In [19]:
df_fa_pivot

company,date,ABC-Mart,Adastria Holdings,Ajinomoto Co,Alfresa Holdings,Arata,Arcs,Asahi Group Holdings,Asanuma Corp,Askul,...,Tekken Corp,Toda Corp,Token,Tokyu Construction,Totetsu Kogyo,Trusco Nakayama,West Holdings,Yamada Holdings,Yellow Hat,Yoshinoya Holdings
0,2016-01-05,1527,938,43,27,2122,2137,169,50,1157,...,629,18,665,14,808,1352,27,1981,794,147
1,2016-01-06,813,1651,153,59,1707,2260,246,19,1104,...,547,58,357,31,479,2353,38,2672,2261,234
2,2016-01-07,793,1578,144,28,1277,1015,251,50,1678,...,360,39,545,33,577,786,83,2539,1061,181
3,2016-01-08,2102,1475,140,26,1500,626,54,45,2622,...,623,38,549,60,701,1920,50,2627,582,192
4,2016-01-09,1037,2232,38,46,2225,2133,168,70,2591,...,287,19,447,49,520,2031,117,886,2052,153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,2023-12-25,1793,2497,182,65,934,2586,101,26,920,...,646,30,182,26,721,2142,92,1029,2387,259
2912,2023-12-26,2208,1557,260,35,2146,1200,268,60,839,...,192,70,354,16,584,2528,33,2092,1192,243
2913,2023-12-27,1844,555,212,51,1705,1722,180,61,1246,...,450,26,454,56,470,2101,129,2392,2440,219
2914,2023-12-28,1124,1564,48,64,1570,2532,179,56,993,...,822,53,182,61,766,1209,135,994,2071,217
2915,2023-12-29,1067,2113,102,25,2727,1130,236,26,606,...,175,15,764,70,217,1924,45,2361,662,204

In [20]:
df_fa_pivot.to_excel(r"C:\Users\DELL\Desktop\financial materials\number_of_transactions.xlsx")

C:\Users\DELL\AppData\Local\Temp/ipykernel_21192/2713553744.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.1' currently installed).
  df_fa_pivot.to_excel(r"C:\Users\DELL\Desktop\financial materials\number_of_transactions.xlsx")

In [21]:
df_edited['Date'] = pd.to_datetime(df_edited['Date'], format='%d-thg %m-%Y')
df_edited['Date'].head()

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: Date, dtype: datetime64[ns]

In [22]:
data_new = pd.merge(df_edited["Date"], df_fa_pivot, left_on = 'Date', right_on ='date', how="left")

In [23]:
data_new

,Date,date,ABC-Mart,Adastria Holdings,Ajinomoto Co,Alfresa Holdings,Arata,Arcs,Asahi Group Holdings,Asanuma Corp,...,Tekken Corp,Toda Corp,Token,Tokyu Construction,Totetsu Kogyo,Trusco Nakayama,West Holdings,Yamada Holdings,Yellow Hat,Yoshinoya Holdings
0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1950,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1952,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_trans = data_new.drop(index = 1954).drop(["Date",'date'], axis=1)

In [25]:
df_trans.head()

,ABC-Mart,Adastria Holdings,Ajinomoto Co,Alfresa Holdings,Arata,Arcs,Asahi Group Holdings,Asanuma Corp,Askul,Belc,...,Tekken Corp,Toda Corp,Token,Tokyu Construction,Totetsu Kogyo,Trusco Nakayama,West Holdings,Yamada Holdings,Yellow Hat,Yoshinoya Holdings
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_vol = df_edited.drop(index=1954).drop('Date', axis =1)

In [27]:
len(df_vol.columns)

100

In [28]:
df_trans.columns

Index(['ABC-Mart', 'Adastria Holdings', 'Ajinomoto Co', 'Alfresa Holdings',
       'Arata', 'Arcs', 'Asahi Group Holdings', 'Asanuma Corp', 'Askul',
       'Belc', 'Calbee', 'Cawachi', 'Coca-Cola Bottlers Japan',
       'Comsys Holdings', 'Daiho', 'Daikokutenbussan', 'DeNA', 'Demae-can',
       'Digital Arts', 'Digital Holdings', 'Dip', 'Dydo Group Holding',
       'EDION Corp', 'Elematec', 'Ezaki Glico', 'Fan Communications',
       'Fast Retailing', 'Fudo Tetra', 'Fuji Oil Holdings',
       'Fujio Food System', 'Fujiza', 'Fukui Computer Holdings', 'Gecoss Corp',
       'Geo Holdings', 'Gurunaivi', 'Hakuhodo DY Holdings', 'Halows', 'Haseko',
       'Hazama Ando', 'Hokuto', 'Honeys Holdings Co.Ltd', 'Ichigo',
       'Inaba Denki Sangyo', 'Ines Corp', 'Infomart', 'Inpex Corporation',
       'Ito En', 'Itochu Shokuhin', 'Itoham Yonekyu Holdings',
       'J-Oil Mills Inc', 'JBCC', 'JP-Holdings', 'Japan Petroleum Exploration',
       'K&O Energy Group', 'KEWPIE Corporation', 'Kajima Corp',
       'Kakaku.com Inc.', 'Kameda Seika', 'Kato Sangyo', 'Key Coffee',
       'Kikkoman', 'Kirin Holdings Co.Ltd.', 'Komehyo', 'Koshidaka',
       'Kotobuki Spirits', 'Kumagai-Gumi', 'Kura sushi', 'Kyokuyo',
       'Link and Motivation', 'M3', 'Maruha Nichiro', 'Matsuya Foods Holdings',
       'Ministop', 'Mirait One', 'Miroku Jyoho Service', 'Nichiden Co',
       'Nishimatsu Construction', 'Nissui', 'Nitori Holdings',
       'Nittetsu Mining', 'Obayashi', 'Ohsho Food Svc', 'Okumura Corp',
       'Sagami Holdings', 'Sakata Seed Corp', 'Senshu Electric',
       'Shimizu Corp', 'Sumiseki Holdings Inc.',
       'Sumitomo Mitsui Construction', 'Takamatsu Construction Group',
       'Tekken Corp', 'Toda Corp', 'Token', 'Tokyu Construction',
       'Totetsu Kogyo', 'Trusco Nakayama', 'West Holdings', 'Yamada Holdings',
       'Yellow Hat', 'Yoshinoya Holdings'],
      dtype='object')

In [29]:
df_trans.values[1:,:]

array([[nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]])

In [30]:
df_vol = df_vol.apply(pd.to_numeric, errors='coerce')

In [31]:
#df_confi = df_vol.values[1:,:]/df_trans.values[1:,:]

In [32]:
df_confi = df_vol.values/df_trans.values

In [33]:
df_confi = pd.DataFrame(df_confi, columns=df_vol.columns)

In [34]:
df_confi = df_confi.round(2)

In [35]:
df_confi.head()

,ABC-Mart,Adastria Holdings,Ajinomoto Co,Alfresa Holdings,Arata,Arcs,Asahi Group Holdings,Asanuma Corp,Askul,Belc,...,Tekken Corp,Toda Corp,Token,Tokyu Construction,Totetsu Kogyo,Trusco Nakayama,West Holdings,Yamada Holdings,Yellow Hat,Yoshinoya Holdings
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df_confi = df_confi.fillna(0)

In [37]:
df_confi['mean'] = df_confi.mean(axis =1)

In [38]:
df_confi['mean']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
1949    0.0
1950    0.0
1951    0.0
1952    0.0
1953    0.0
Name: mean, Length: 1954, dtype: float64

In [39]:
df_confi["Date"] = df_edited['Date']

In [40]:
df_confi

,ABC-Mart,Adastria Holdings,Ajinomoto Co,Alfresa Holdings,Arata,Arcs,Asahi Group Holdings,Asanuma Corp,Askul,Belc,...,Token,Tokyu Construction,Totetsu Kogyo,Trusco Nakayama,West Holdings,Yamada Holdings,Yellow Hat,Yoshinoya Holdings,mean,Date
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaT
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaT
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaT
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaT
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaT
1950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaT
1951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaT
1952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaT
1953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaT

In [41]:
from matplotlib import pyplot as plt
import matplotlib.ticker as ticker

# Sort the dataframe by 'Date'
df_confi = df_confi.sort_values('Date')

# Extract quarter information from 'Date' and assign it to 'Quarter'
df_confi['Quarter'] = df_confi['Date'].dt.to_period('Q')

# Create the plot
plt.figure(figsize=(15, 6))

# Plot 'CSAD' against 'Date'
plt.plot(df_confi['Date'].values, df_confi['mean'].values, linestyle='-', color='black')

# Set the title and labels
plt.title('Overconfidence')
plt.xlabel('Daily')
#plt.ylabel('')

# Adding quarter labels on the x-axis
# Ensure that the quarter labels do not overlap
quarter_labels = df_confi['Quarter'].astype(str)
#plt.xticks(CSAD_df['Date'][::60], quarter_labels[::60], rotation=90)
plt.gca().xaxis.set_major_locator(ticker.MaxNLocator(integer=True, prune='both'))
# Add grid for better readability
#plt.grid(True)

# Adjust layout to prevent overlap
plt.tight_layout()

# Display the plot

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\DELL\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\DELL\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\DELL\anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
    self.io_loop.start()
  File "C:\Users\DELL\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\DELL\anaconda3\lib\asyncio\base_events.py", line 596, in run_forever
    self._run_once()
  File "C:\Users\DELL\anaconda3\lib\asyncio\base_events.py", line 1890, in _run_once
    handle._run()
  File "C:\Users\DELL\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 457, in dispatch_queue
    await self.process_one()
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 446, in process_one
    await dispatch(*args)
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 353, in dispatch_shell
    await result
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 648, in execute_request
    reply_content = await reply_content
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\DELL\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_cell
    result = self._run_cell(
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2947, in _run_cell
    return runner(coro)
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3172, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3364, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\DELL\AppData\Local\Temp/ipykernel_21192/1231043489.py", line 1, in <module>
    from matplotlib import pyplot as plt
  File "C:\Users\DELL\anaconda3\lib\site-packages\matplotlib\__init__.py", line 107, in <module>
    from . import _api, cbook, docstring, rcsetup
  File "C:\Users\DELL\anaconda3\lib\site-packages\matplotlib\rcsetup.py", line 26, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "C:\Users\DELL\anaconda3\lib\site-packages\matplotlib\colors.py", line 82, in <module>
    from matplotlib import _api, cbook, scale
  File "C:\Users\DELL\anaconda3\lib\site-packages\matplotlib\scale.py", line 18, in <module>
    from matplotlib.ticker import (
  File "C:\Users\DELL\anaconda3\lib\site-packages\matplotlib\ticker.py", line 179, in <module>
    from matplotlib import transforms as mtransforms
  File "C:\Users\DELL\anaconda3\lib\site-packages\matplotlib\transforms.py", line 46, in <module>
    from matplotlib._path import (

AttributeError: _ARRAY_API not found

ImportError: numpy.core.multiarray failed to import

In [ ]:
df_overconfidence = df_confi[["Date","mean"]]

In [ ]:
df_overconfidence.to_excel(r'C:\Users\DELL\Desktop\financial materials\overconfidence.xlsx')